
<div class="container-fluid top p-0 m-0">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
        <a class="navbar-brand titulo" routerLink="/home">Inicio
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon  "></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Buscar Provincia">
                    <a class="nav-link icon select-input" routerLink ="/provincias">
                        <img src="assets/iconos/mapa.png"  alt="Buscar Provincia"width="50px" height="50px">
                        <a>Buscar provincias</a>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Buscar productos">
                    <a class="nav-link icon select-input" routerLink ="/productos">
                        <img src="assets/iconos/BuscarProductos.png"  alt="Buscar productos" width="50px" height="50px">
                        <a>Buscar productos</a>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Ean">
                    <a class="nav-link icon select-input" routerLink ="/proximamente">
                        <img src="assets/iconos/escanearProducto.png"  alt="Escanear EAN-CODE" width="50px" height="50px">
                        <a>Escanear EAN-CODE</a>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</div>