h1{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 40px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

.card{
    width: 100%;
    margin :20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translateY(-3%);
    background: linear-gradient(rgb(126, 216, 104),rgb(255, 255, 255));
    
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: rgb(126, 216, 104);
    border: 2px solid rgb(105, 189, 84);
    height:20px;
    width: 15px;
    border-radius: 0px;
}
