<app-barra></app-barra>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="text-center welcome">Sin Aumentos</h1>
            <p class="lead text-center">En nuestra página, podes encontrar todos los productos de tu provincia,<br> que no tienen aumentos, según lo establecido por el gobierno.</p>
            <hr class="my-1">
            <div class="text-center">
                <img src="assets/fondos/argentina_mapa.jpg" class="bg-image" style="width:60%" >
                <div class="row mt-3 justify-content-center">
                    <div class="col-auto">
                        <a class="btn button-prov " routerLink ="/provincias" role="button">Seleccionar Provincias</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn button-prod " routerLink="'productos'" role="button"> Buscar Productos</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn button-ean " routerLink="'productos'" role="button"> Escanear EAN-CODE</a>
                    </div>
                </div>
                <hr>
            </div>
    </div>
</div>
<hr>

<!-- <div class="container my-3">
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1">
    <section
            class="d-flex justify-content-between p-3 text-white"
            style="background-color: rgb(126, 216, 104)">
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-2">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Sin Aumentos SA</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
                Nos dedicamos a brindar informacion sobre 
                productos que no sufrieron aumnentos.
            </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contactos</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><i class="fas fa-home mr-3"></i> Ushuaia, Tierra del fuego</p>
            <p><i class="fas fa-envelope mr-3"></i> SinAumento@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>Leal Cristian</p>
            <p><i class="fas fa-print mr-3"></i> Nicolas Schvemler</p>
            </div>
        </div>
        </div>
    </section>
    <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/"
        >SinAumento.com</a>
    </div>
    </footer>
</div> -->
